.navbar{
	min-height: 30px;
	padding: 0px 15px;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: 30px;
    line-height: 18px;
    padding: 5px 15px;
}
.navbar-nav > li > a {
    padding-bottom: 5px;
    padding-top: 5px;
}
#portfolio_content{
	margin-bottom: 20px
}